.navbar-brand-full {
  margin-bottom: 5px
}
.navbar-brand-minimized {
  margin-bottom: 5px
}

.logo-text {
  margin: 5px 0px 0px 5px;
}

.app-header .navbar-toggler {
  min-width: 105px;
  padding: .25rem 0;
}

.main .container-fluid {
  padding: 15px 30px;
}

.footer-buttons {
  z-index: 3;
  position: fixed;  
  right: 30px;
  bottom:10px;
}

.footer-buttons button.btn-icon{
  width: 50px;
  height: 50px;
  color: white;
  line-height: 0;
  font-size: 20px;
  border-radius: 100%;
}

.footer-buttons a.btn-icon{
  width: 50px;
  height: 50px;
  color: white;
  line-height: 1.5;
  font-size: 20px;
  border-radius: 100%;
}

.navbar {
  padding: 0rem 1rem;
}

.breadcrumb {
  background-color: #ffffff;
  border-radius: 0.75rem;
}

.jq-toast-single {
  background-color: #dc3545;
}

.jq-icon-success {
  background-color: #28a745;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}